:root {
  --bg-dark: white;
}

:root[data-theme="dark"] {
  --bg-dark: #1b1b1b;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  background: var(--bg-dark);
  height: 900px;
}

h1,
h2,
h3,
h4,
p,
a,
ul {
  color: var(--text-title);
  margin: 0;
  padding: 0;
}

img {
  height: 500px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

/*  HEADER  */

.header {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: 4.3rem;
  width: 100%;
  z-index: 99;
  color: white;
  padding: 0 2rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.logo-container {
  display: flex;
  justify-self: start;
}

.logo-dark,
.logo-light {
  height: 1.4rem;
}

.nav-container {
  justify-self: center;
}

.list-container {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  gap: 5rem;
}

.list-container a {
  text-decoration: none;
}

.list-container a:hover {
  border-bottom: 2px white solid;
  padding-bottom: 0.3rem;
}

/*  MAIN  */

.hero-content {
  position: relative;
  display: flex;
  height: 100dvh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  justify-content: center;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  opacity: 0;
  padding: 4.3rem 2rem;
  gap: 5rem;
}

.title-hero {
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;
  color: white;
  font-size: clamp(2.7rem, 10vw, 4rem);
}

.form-content {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
}

.search-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
  width: 100%;
}

.search-input {
  display: flex;
  border: 0;
  outline: 0;
  max-height: 3.5rem;
  height: 100%;
  border-radius: 2rem;
  padding-top: 1.1rem;
  padding-inline: 3rem;
  font-size: 1.1rem;
  transition: box-shadow 0.2s ease-out;
  width: 100%;
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3.5rem;
  max-height: 3.5rem;
  border-radius: 50%;
  border: 0;
  background-color: #30b27c;
  padding: 0.8rem;
}

.button-search:hover {
  background: #2a9b6c;
  cursor: pointer;
}

.button-search svg {
  height: 100%;
}

.label-search {
  position: absolute;
  left: 3rem;
  cursor: text;
  color: #777777;
  letter-spacing: -0.5px;
  transition: all 0.2s ease-in-out;
}

.search-content:focus-within .label-search {
  transform: translateY(calc(-100% + 25%));
  font-size: 0.8rem;
}

.search-content:has(.search-input:not(:placeholder-shown)) .label-search {
  transform: translateY(calc(-100% + 25%));
  font-size: 0.8rem;
}

.btn-conecta {
  position: absolute;
  bottom: 4rem;
  width: 3rem;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  opacity: 0;
  animation-direction: alternate;
  backdrop-filter: blur(5px);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #f4f4f4;
}

/*  SECCIONES  */

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  height: 100dvh;
  width: 100%;
  padding: clamp(1px, 5vw, 4rem);
}

.section-content .text-content h2,
h3,
h4 {
  font-size: clamp(3rem, 5vw, 5rem);
  font-weight: 650;
  line-height: 1;
}

.section-content p {
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  line-height: 1;
}

/*  FIRST SECTION  */

.first-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
  height: 100%;
}

.first-content .text-content {
  display: flex;
  flex-direction: column;
  max-width: 45rem;
  gap: 3rem;
  color: #4d00c9;
}

.first-content .subtitle-conecta {
  color: #000000;
}

.first-content img {
  display: flex;
  height: calc(100% - 2rem);
  max-width: 25rem;
  width: 100%;
  height: 45rem;
  border-radius: 100px 0 100px 0;
  object-fit: cover;
}

/* SECOND SECTION */

.second-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.second-content .text-content {
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 5vw, 3rem);
  gap: 5rem;
  color: #1d4c00;
  max-width: 45rem;
}

.second-content img {
  object-fit: cover;
  max-width: 35rem;
  width: 100%;
  height: 45rem;
  border-radius: 0 100px 0 100px;
}

/*======= RESPONSIVIDAD ========*/

/*    MÓVIL   */
@media (max-width: 575.98px) {
  .nav-container ul {
    display: none; /*  MENU HAMBURGUESA después de este tamaño */
  }

  .search-content {
    flex-direction: column;
    gap: 0.5rem;
  }

  .button-search,
  .search-input {
    height: 100%;
    width: 100%;
    border-radius: 50px;
  }

  .first-content img {
    min-height: 20rem;
  }

  .section-content {
    padding: 0;
  }

  .first-content {
    border-radius: 0;
  }

  .form-content {
    flex-direction: column;
    gap: 0.5rem;
  }
}

/*   TABLETS   */
@media (max-width: 991.98px) {
  .header {
    grid-template-columns: auto 1fr;
  }

  .list-container {
    gap: 2.5rem;
  }

  .nav-container {
    justify-self: end;
  }

  .title-hero {
    line-height: 0.9;
    text-align: center;
  }

  .first-content,
  .second-content {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    padding: 5rem 0;
  }

  .first-content .text-content,
  .second-content .text-content {
    gap: 2rem;
    max-width: 35rem;
  }

  .second-content .text-content {
    order: 1;
  }

  .second-content img {
    order: 2;
  }

  .first-content img,
  .second-content img {
    width: 95%;
    border-radius: 1rem;
  }

  .form-content {
    max-width: 25rem;
  }
}

/* ANIMACIONES */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
