:root {
  --bg-dark: white;
}

:root[data-theme="dark"] {
  --bg-dark: #1b1b1b;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-width: 320px;
  background: var(--bg-dark);
}

h1,
h2,
h3,
h4,
p,
a,
ul {
  color: var(--text-title);
  margin: 0;
  padding: 0;
}

img {
  height: 500px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
}

/*  HEADER  */

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  height: 4.3rem;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  color: white;
  padding: 0 2rem;
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.logo-container {
  display: flex;
  justify-self: start;
}

.logo-dark,
.logo-light {
  height: 1.4rem;
}

.nav-container {
  justify-self: center;
}

.list-container {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  gap: 5rem;
}

.list-container a {
  text-decoration: none;
}

.list-container a:hover {
  border-bottom: 2px white solid;
  padding-bottom: 0.3rem;
}

/*  MAIN  */

.hero-content {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-group {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  justify-content: center;
  gap: 5rem;
  animation: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.4s;
  opacity: 0;
  padding: 0 2rem;
}

.title-hero {
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1;
  color: white;
  font-size: clamp(2.7rem, 7vw, 4rem);
}

.search-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.button-search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 3.5rem;
  border-radius: 50%;
  border: 0;
  background-color: #30b27c;
  padding: 1rem;
}

.button-search svg {
  height: 100%;
}

.search-input {
  border: 0;
  outline: 0;
  border-radius: 2rem;
  padding: 0 5rem;
  font-size: 1rem;
  transition: box-shadow 0.2s ease-out;
  height: 3.5rem;
}

.search-input:focus {
  outline: 2px white solid;
  outline-offset: 4px;
}

.btn-conecta {
  position: absolute;
  bottom: 5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  opacity: 0;
  animation-direction: alternate;
  backdrop-filter: blur(5px);
}

/*  SECCIONES  */

.section-content {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: clamp(0.5rem, 5vw, 5rem);
}

.text-content {
  display: flex;
  flex-direction: column;
}

.section-content h2,
h3,
h4 {
  font-size: clamp(3rem, 3vw, 4rem);
  font-weight: 650;
  line-height: 1;
}

.section-content p {
  font-size: clamp(0.5rem, 3vw, 2rem);
}

/*  FIRST SECTION  */

.first-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f6f0ff;
  max-width: 90rem;
  width: 100%;
  border-radius: 2rem;
  height: auto;
  padding: clamp(1px, 5vw, 2rem);
  gap: 2rem;
}

.first-content .text-content {
  display: flex;
  max-width: 40rem;
  gap: 2rem;
  padding: clamp(1rem, 5vw, 1rem);
}

.first-content .title-conecta {
  color: #4d00c9;
  font-size: clamp(3rem, 6vw, 3.8rem);
}

.first-content .subtitle-conecta {
  color: #000000;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.first-content img {
  display: flex;
  height: 100%;
  max-height: 80rem;
  min-height: 35rem;
  width: 20rem;
  border-radius: 100px 0 100px 0;
  object-fit: cover;
}

/*======= RESPONSIVIDAD ========*/

/*    MÓVIL   */
@media (max-width: 575.98px) {
  .nav-container ul {
    display: none; /*  MENU HAMBURGUESA después de este tamaño */
  }

  .search-content {
    flex-direction: column;
    gap: .7rem;
  }

  .button-search {
    width: 100%;
    height: 3.5rem;
    border-radius: 50px;
  }

  .search-input {
    padding: 0 2rem;
  }

  .section-content {
    padding: 0;
  }

  .first-content {
    padding: 5rem 0;
    border-radius: 0;
  }
}

/*   TABLETS   */
@media (max-width: 991.98px) {
  .header {
    grid-template-columns: auto 1fr;
  }

  .list-container {
    gap: 2.5rem;
  }

  .nav-container {
    justify-self: end;
  }

  .title-hero {
    line-height: 0.9;
    text-align: center;
  }

  .first-content {
    flex-direction: column;
    text-align: center;
  }

  .first-content img {
    width: 95%;
    border-radius: 1rem;
  }
}

/* ANIMACIONES */

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(1rem);
    opacity: 1;
  }
}
