body {
  background: var(--background-primary);

  /* LAYOUT*/
  .layout {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 240px auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header  header"
      "aside   main";

    /* Panel de navegación */
    .aside-left {
      position: sticky;
      top: 0;
      height: calc(100vh - 4rem);
      grid-area: aside;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      border-right: 1px var(--border) solid;

      .actions-left {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-top: 1rem;

        .btn-action {
          display: flex;
          align-items: center;
          padding: 0.3rem 1rem;
          height: 2.8rem;
          font-size: 0.9rem;
          background: transparent;
          color: var(--icon);
          border-radius: 0.5rem;
          gap: 0.5rem;
          border: 0;

          &:hover:not(.active) {
            background: var(--background-secondary);
          }

          svg {
            height: calc(100% - 0.8rem);
            color: rgb(128, 128, 128);
          }

          &.active svg {
            color: #51b9ff;
          }
        }

        .active {
          position: relative;
          border: 1px #276eb98a solid;
          background: var(--background-tertiary);
          box-shadow: 0px 3px 15px #276eb97a;
          color: var(--text-primary);
          font-weight: 600;

          &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 1.3rem;
            border-left: 2px solid #51b9ff;
            display: block;
          }
        }
      }
    }

    /* HEADER */
    .header {
      grid-area: header;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4rem;
      border-bottom: 1px var(--border) solid;
      gap: 1rem;
      padding: 0 4rem;

      .menu-panel {
        border: 1px var(--border) solid;
        display: none;
      }

      .logo {
        display: flex;
        height: 1.3rem;
      }

      .nav-actions {
        display: flex;
        height: 70%;

        .search-content {
          position: relative;

          .content-input {
            display: flex;
            align-items: center;
            height: 100%;

            svg {
              position: absolute;
              height: 100%;
              left: 1rem;
              top: 50%;
              transform: translateY(-50%);
              stroke: var(--icon);
            }

            .input-search {
              padding: 0 1rem 0 3.5rem;
              height: 100%;
              border: 1px var(--border) solid;
              font-size: 1rem;
              border-radius: 0.5rem;
              background: var(--background-secondary);

              &:hover {
                border: 1px var(--border-hover) solid;
              }

              &:focus {
                border: 1px var(--border-focus) solid;
              }
            }
          }
        }
      }
    }

    /* -------  MAIN  -------- */
    main {
      grid-area: main;
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-areas:
        "breadcrumb   breadcrumb  breadcrumb"
        "summary      summary     schedule"
        "reports      reports     schedule"
        "reports      reports     schedule";
      gap: 1rem;
      padding: 1rem;
      min-height: calc(100vh - 4rem);

      /* MIGA DE PAN*/
      .breadcrumb {
        grid-area: breadcrumb;
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        padding: 0;
        font-size: 0.9rem;
        margin-bottom: 1rem;

        ol {
          display: flex;
          list-style: none;

          li {
            + ::before {
              content: "/";
              margin: 0 0.5rem;
              color: var(--text-secondary);
            }

            a {
              color: var(--text-secondary);

              &:hover {
                border-bottom: 1px var(--border-hover) solid;
                padding-bottom: 0.3rem;
              }
            }
          }
        }
      }

      .summary-reports {
        grid-area: summary;
        display: flex;
        flex-direction: column;

        .content-title {
          .title-neighborhood {
            margin-bottom: 1rem;
            font-size: 1.5rem;
            font-weight: 600;
          }
        }

        .content-cards {
          display: flex;
          flex-direction: column;
          height: 100%;
          background: var(--background-secondary);
          border: 1px var(--border) solid;
          border-radius: 1rem;
          padding: 2rem;
          gap: 2rem;

          .title-summary {
            font-weight: 500;
            font-size: 1.1rem;
          }

          .cards {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            flex-wrap: wrap;
            height: 100%;

            .card {
              display: flex;
              flex-direction: column;
              text-align: center;
              align-items: center;
              justify-content: center;
              border: 1px var(--border) solid;
              border-radius: 0.5rem;
              padding: 0.5rem;
              gap: 1rem;
              width: 8.5rem;
              height: 9rem;
              background: var(--background-secondary);

              h2 {
                display: flex;
                font-size: 1.2rem;
                font-weight: 400;
              }

              .badge {
                display: flex;
                flex-direction: column;
                font-size: 2.3rem;
                font-weight: 700;
                color: #3881d5;
              }
            }
          }
        }

        .content-title {
          h1 {
            font-weight: 500;
            font-size: 1.5rem;
          }
        }
      }

      .schedule {
        position: sticky;
        top: 1rem;
        height: calc(100vh - 9rem);
        grid-area: schedule;
        background: var(--background-primary);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .info-garbage,
        .info-events,
        .info-news {
          padding: 2rem;
          border-radius: 1rem;
          border: 1px var(--border) solid;
          background: var(--background-secondary);
          flex: 1;
        }

        .info-garbage {
          .title-schedule {
            font-size: 1.1rem;
            font-weight: 500;
          }

          .garbage-title {
            display: flex;
            align-items: center;
            font-weight: 200;
            gap: 1rem;
            margin: 1rem 0;
            font-size: 1rem;

            svg {
              width: 1.3rem;
              height: 1.3rem;
            }

            h4 {
              font-weight: 400;
            }
          }

          .week-garbage {
            display: flex;
            align-items: center;

            ul {
              display: flex;
              gap: 0.5rem;
              flex: 1;
              width: 100%;

              li {
                padding: 0.3rem 1rem;
                border-radius: 5px;
                border: 1px var(--border) solid;
                font-weight: 200;
              }
            }
          }
        }
      }

      .reports {
        grid-area: reports;
        padding: 2rem;
        background: var(--background-secondary);
        border: 1px var(--border) solid;
        border-radius: 1rem;
        min-height: 50vh;
      }
    }
  }
  .search-overlay {
    display: none;
  }
}

/* PORTATIL */
@media (max-width: 1199px) {
  body {
    .layout {
      main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "breadcrumb breadcrumb"
          "summary    summary"
          "schedule    schedule"
          "reports    reports";

        .summary-reports {
          .content-cards {
            .cards {
              .card {
                width: auto;
                flex: 0 0 7.8rem;
              }
            }
          }
        }

        .schedule {
          display: grid;
          grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
          grid-template-rows: repeat(2, 1fr);
          grid-template-areas:
            "info-garbage info-events"
            "info-news    info-news";
          position: static;
          flex-direction: row;
          flex-wrap: wrap;
          height: auto;

          .info-garbage {
            grid-area: info-garbage;
          }
          .info-events {
            grid-area: info-events;
          }

          .info-news {
            grid-area: info-news;
          }
        }
      }
    }
  }
}

/*   TABLET   */
@media (max-width: 991.98px) {
  body {
    .layout {
      grid-template-columns: 5rem 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas:
        "aside header"
        "aside main";

      .aside-left {
        height: 100vh;
        padding: 0.8rem;
        .btn-action {
          span {
            display: none;
          }
        }
      }

      main {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "breadcrumb breadcrumb"
          "summary    summary"
          "schedule   schedule"
          "reports    reports";
      }
    }
  }
}

/*    MÓVIL   */
@media (max-width: 681px) {
  body {
    .layout {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "header"
        "main";

      .header {
        display: flex;
        justify-content: space-between;
        height: 5rem;
        padding: 0 1rem;

        .menu-panel {
          display: flex;
          justify-content: center;
          width: 3rem;
          height: 3rem;
        }

        .nav-actions {
          height: auto;
          .search-content {
            .content-input {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 3rem;
              height: 3rem;
              border: 1px var(--border) solid;
              border-radius: 0.5rem;
              background-color: var(--background-secondary);

              svg {
                position: static;
                transform: none;
                stroke: var(--icon);
              }

              .input-search {
                display: none;
              }
            }
          }
        }
      }

      .aside-left {
        position: fixed;
        transform: translateX(-100%);
        background: var(--background-tertiary);
        min-height: 100vh;
        width: 70vw;
        z-index: 999;
        transition: all 0.3s cubic-bezier(0.79, 0.14, 0.15, 0.86);
        padding-top: 4rem;

        &.is-open {
          transform: translateX(0);
          .btn-action {
            span {
              display: block;
            }
          }
        }
      }

      main {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "breadcrumb"
          "summary"
          "schedule"
          "reports";

        .summary-reports {
          .content-title {
            .title-neighborhood {
              text-align: center;
            }
          }

          .content-cards {
            border: 0;
            padding: 0;
            gap: 1rem;
            background: transparent;

            .cards {
              overflow-x: auto;
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;
              width: calc(100vw - 2rem);

              .card {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex: 0 0 10rem;
                border: 1px var(--border) solid;
                height: 10rem;
                gap: 0.5rem;

                h2 {
                  font-weight: 500;
                  height: auto;
                  font-size: 1.1em;
                }

                .badge {
                  height: auto;
                  font-size: 3rem;
                  font-weight: 700;
                }
              }
            }
          }
        }

        .schedule {
          display: flex;
          flex-direction: column;
        }
      }
    }
    .search-overlay {
      display: block;
      visibility: hidden;
      position: fixed;
      top: 0;
      height: 100vh;
      width: 100vw;
      background: var(--background-primary);
      opacity: 0;
      transition: all 0.2s ease-out;

      &.active {
        visibility: visible;
        opacity: 1;
      }

      .search-container {
        display: flex;
        background: var(--background-secondary);
        border-bottom: 1px var(--border) solid;
        height: 5rem;
        justify-content: space-between;
        align-items: center;
        padding-inline: 1rem;
        gap: 1rem;

        .search-close {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 3rem;
          width: 3rem;
        }

        .search-input {
          background: var(--background-primary);
          border: 1px var(--border) solid;
          height: 3rem;
          width: 100%;
          border-radius: 8px;
          padding: 0 1rem;
          font-size: 1rem;
        }

        .find-neighborhood {
          position: absolute;
          display: flex;
          align-items: center;
          border: 0;
          border-radius: 0;
          justify-content: center;
          width: 3rem;
          height: 3rem;
          right: 1rem;
          background: none;
          padding: 0;
        }
      }
    }
  }
}
